---
layout: archive
---

{{ content }}

<h1>Become A Data Analyst Ebook</h1>
<ul>
  {% for post in site.categories.blog2 reversed %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<br>

<h1>Recent blog posts</h1>
<ul>
  {% for post in site.categories.blog limit:5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<br>

<h1>Bookshelf</h1>
<p>Find a list of books that has inspired me <a href="https://jothamgoh.github.io/books/">here.</a></p>